@import '../../.cache/wal/colors-waybar.css';

* {
  border: none;
  border-radius: 10px; /* Radius of the BIG waybar */
  /* font-weight: bold;*/
  font-size: 12px;
}

window#waybar {
  background-color: rgba(0,0,0,0.8);
  background: transparent;
  transition-property: background-color;
  border-bottom: 0px solid @color10; /* Border of the bottom part of the waybar */
  /* color: #2b2b2c; Text color */
}

/* Customize pop up windows when going with cursor on waybar objects */
tooltip {
  background: @color7;
  opacity: 0.80;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @color6;
}
tooltip label{
  color: @color0
}


/* Customize bubbles containing waybar objects  */
#hyprland-window,
#custom-bluetooth,
#custom-weather,
#cpu,
#disk,
#clock,
#memory,
#temperature,
#workspaces,
#pulseaudio {
  background: @color6; /*Bubble color*/
  opacity: 0.8;
  padding: 0px 15px; /* Horizontal distance between icons */
  margin: 2px 0px; /* Make smaller tha ting */
  margin-top: 0px;
  border: 5px;
}

/* Customize specifically bubbles  */
#cpu {
  border-radius: 10px 0px 0px 10px;
}

#memory {
  border-radius: 0px; /* If you write one zero then it applies to all borders */
}

#disk {
  border-radius: 0px 10px 10px 0px;
}

#clock {
  border-radius: 10px;
}

#temperature {
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px; /* Distance from the bubble on the right */
}

#workspaces {
  background: @color1;
  border-radius: 50px; /* Super curvy */
}

#custom-bluetooth {
  margin-right: 10px;
}

#custom-weather {
  margin-right: 10px;
}
